.default-btn {
    display: inline-block;
    padding: 10px;
    background: #73c051;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    }

.default-btn:hover {
    background: #309124;
    color: #fff;
    text-decoration: none;
    }